heg adin {
    border-width: 5px;
    border-style: solid;
    border-color: darkred;
}

h1 {
    background-color: darkorange;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 8px;
}

body {
    background-image: url("assets/images/qbkls.png");
    background-repeat: space;
}

#randomNumberField {
    background-image: src=
}